/****************************************
* title : top style
* author :
* final datr : 
****************************************/
header {
    border: 1px solid var(--color-border);
    width: 1000px;
    height: 150px;
    margin: 0 auto;
}
.header-top {
    padding: 20px 0px;
}
.header-top, .header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-top-logo {
    /*border: 1px solid blue;*/
    position: relative;
    width: 400px;
}
.header-top-logo> a > img {
    width: 120px;
}
.header-top-logo > span{
    position: absolute;
    top: 30;
    left: 110;
    letter-spacing: 5px;
    font-weight: 500;
}
.header-top ul, .header-bottom ul {
    /*border: 1px solid green;*/
    display: flex;
    list-style-type: none;
}

.header-top ul li {
    /*background-color: aqua;*/
    /*padding: 15px;*/
}
.header-top ul li a {
    padding: 30px 10px;
    text-decoration: none;
    color: var(--color-primary);
}
.header-bottom dl {
    display: none;
}
.header-bottom{
    /*border: 1px solid slategray;*/
    height: 40px;
}
.header-bottom li {
    padding: 10px 20px;
}
.header-bottom li a {
    color: var(--color-primary);
    text-decoration: none;
    font-weight: 700;
}

/****************************************
* title : top style
* author :
* final datr : 
****************************************/
footer {
    width: 100%;
    height: 200px;
    background-color: var(--color-footer-bg);
}

.footer-content{
    width: 1000px;
    margin: 0 auto;
}

.footer-intro + ul {
    width: 100%;
    height: 60px;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    border-bottom: 1px solid var(--color-silver);
}

.footer-intro + ul a {
    font-size: 12px;
    font-weight: bold; 
    color: var(--color-primary);
    text-decoration: none;
}
.footer-intro + ul a:hover {
    text-decoration: underline;
}

.footer-intro + ul :nth-child(8) a {
    color: var(--color-black);
    text-decoration: underline;
    font-weight: 800;
}
.footer-intro ~ p {
    color: var(--color-primary);
    font-size: 10px;
    font-weight: 600;
    padding: 3px 0px;
}

.footer-content > p:nth-child(3) {
    padding-top: 30px;
}

.footer-content > p:nth-child(7) {
    margin-bottom: 30px;
}